<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-10 menu">
                <nav>
                    <a class="item_menu" routerLink="/productos">Producto</a> 
                    <a class="item_menu" routerLink="/createProduct">Agregar Producto</a>    
                    <a class="item_menu" routerLink="/updateProduct">Actualizar Producto</a>    
                </nav>
            </div>
            <div class="col-2 login">
                <a class="item_menu" routerLink="/login">login</a>    
            </div>
        </div>
    </div>
</div>