<div class="conten_product container">
    <div class="row">
        <div class="col col-lg-2"></div>
        <div class="col col-lg-7">
            <div class="product">
                <div class="row">
                    <div class="col-12">
                        <div>Nombre: <input [(ngModel)]="product.Name"/></div>
                        <div>Precio: <input [(ngModel)]="product.Price"/></div>
                        <div>Descripcion: <input [(ngModel)]="product.Description"/></div>
                        <div>Cantidad: <input [(ngModel)]="product.Amount"/></div>
                    </div>
                    <div class="col-12">
                        <div class="conten_button">
                            <button class="btn btn-success" title="delete hero"(click)="create()">Agregar</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col col-3"></div>
    </div>
</div>