<div class="conten_product container">
    <div class="row">
        <div class="col col-1"></div>
        <div class="col col-lg-7">
            <div class="d-flex justify-content-center">
                <h2>Productos</h2>
            </div>
            <div class="product" *ngFor="let product of products">
                <div class="row">
                    <div class="col-6">
                        <div><strong>{{product.name}}</strong></div>
                        <div>Precio: {{product.price}}</div>
                        <div>Descripcion: {{product.description}}</div>
                        <div>Cantidad: {{product.amount}}</div>
                    </div>
                    <div class="col-6">
                        <div>Cantidad compra</div>
                        <div>
                            <input [(ngModel)]="product.amount_sale" disabled="0"/>
                            <button class="btn btn-success button_shop btn-sm" title="delete hero" (click)="sale(product)">+</button>
                            <button class="btn btn-danger button_shop btn-sm" title="delete hero"(click)="remove(product)">-</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col col-4">
            <div class="d-flex justify-content-center">
                <h2>Carrito Compras</h2>
            </div>
            <div class="product" >
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productSale">
                            <td>{{product.name}}</td>
                            <td>{{product.amount_sale}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="conten_button d-flex justify-content-end">
                    <button class="btn btn-success" title="delete hero"(click)="saleProduct()">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>